h4{
    background-color: blueviolet; color: black;
}
.d{
    background-color: aquamarine;
    color: blue;
}
.m{
    background-color: aqua;
    color: blueviolet;
}
#k{
    background-color: beige;
    color: black;
}