h4{
    background-color: greenyellow; 
    color: black;
}
.b{
    background-color: violet;
    color: azure;
}
.f{
    background-color: aquamarine;
    color:slateblue
}
#bu{
    background-color: bisque;
    color:brown
}